################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Foto2/.vs/PhotoAlbum/v16/Server/sqlite3/db.lock
